
.tv{
    width: 200px; 
    height: 200px;
    background-color: rgb(82, 195, 157);
    outline: 5px solid ;
    outline-offset: 2px;
    border: 3px solid blue;
    margin: 50px;
}


a{
color: white;
background-color: black;

}
a:link{
color: aqua;
background-color: bisque;
}
a:active {
    color: yellow;
    background-color: azure;
}
a :hover{
    color: cadetblue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    text-transform: capitalize;
}